.flashMsg
{
    z-index: 9999 !important;
    text-align: center;
}


header
{
    
    background-color: rgba(133, 133, 133, 0.3);
    max-width:99.9%;
    
}

header, img
{
    
    top: 0;
    left: 0;
    z-index: 200;
}

.headerConnect
{
    margin:auto;
    padding-right: 50px;
}

.jumbotron
{
    padding: 0 !important;
    margin: 0 !important;
}
.title
{
    z-index: 200;

    position: absolute;
    top: 400px;
    left:0;
    
    width: 100%;
    padding: 5%;

    color: #007bff; 
    background-color: rgba(133, 133, 133, 0.1) !important;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5rem;
    

}

.add
{
    max-width: 60%;
}

.work
{
    margin-top:10px !important;
    text-align: center;
    
}

.workItems
{
    max-width: 100%;
}

.bgMov
{
    z-index: 1;
    
    top: 0;
    left:0;
    width: 100%;
}

footer
{
    height: 50px;

    color: white !important;
    background-color: black;
}

/* LOGIN */
.login
{
    
    margin-top:150px !important;
}




.loginTitle
{
    text-align:center;
}

.formInput
{
    max-width:300px;
}

.dashLab
{
    width:60%;
    margin:auto;
    margin-top:150px !important;
}

.aPanel
{
    margin:auto;
    padding-top:150px !important;
    margin-left: 20px !important;
    float:left;
    width:30%;
    height:95vh;
    
    background-color:lightgray;
    z-index:150;
}

.pList
{
    list-style: none;
}


.listUser
{
    margin:auto;
    margin-top:150px !important;
    width:60%;
}

footer
{
    padding:20px;
}
@media screen and (max-width: 1200px)
{
    .bgMov
    {
        visibility: hidden;
    }
}